<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
  <head>
    <meta charset = "UTF-8">
    <title>Employees</title>
  </head>
  <body>

    <h2><a href = "/">Home</a></h2>

    <h2>List employees</h2>
    <table th:if="${employees}">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Position</th>
          <th>Salary</th>
          <th>Date of start work</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.name}"></td>
          <td th:text="${employee.position}"></td>
          <td th:text="${employee.salary}"></td>
          <td th:text="${#temporals.format(employee.startOfWork, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
      </tbody>
    </table>

    <h2>Add employee</h2>

    <h3 th:if="${error}" th:text="${error}"></h3>

    <form th:action="@{/employees}" method="post" th:object="${newEmployee}">

      <label for = "employeeName">Name</label>
      <input type = "text" id="employeeName" th:field="*{name}">

      <label for = "employeePosition">Position</label>
      <input type = "text" id="employeePosition" th:field="*{position}" >

      <label for = "employeeSalary">Salary</label>
      <input type = "number" id="employeeSalary" th:field="*{salary}" >

<!--      <label for = "employeeStartOfWork">Date of start work</label>-->
<!--      <input type = "text" id="employeeStartOfWork" th:field="*{startOfWork}" >-->

      <input type = "submit" id="submit" value="GO">
    </form>
  </body>
</html>