<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
  <head>
    <meta charset = "UTF-8">
    <title>HR application</title>
    <link rel = "stylesheet"
          th:href = "@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
  </head>
  <body>
    <div class = "container">
      <h1>Welcome to my HR application</h1>

      <h2>List of employees</h2>
      <div>
        <table class = "table table-dark table-hover" th:if = "${employees}">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Position</th>
              <th>Salary</th>
              <th>Entry date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each = "employee : ${employees}">
              <td th:text = "${employee.id}"></td>
              <td><a th:href = "@{/employees/{id}(id=${employee.id})}" th:text = "${employee.name}"></a></td>
              <td th:text = "${employee.position}"></td>
              <td th:text = "${employee.salary}"></td>
              <td th:text = "${#temporals.format(employee.startOfWork, 'yyyy-MM-dd HH:mm:ss')}"></td>
              <td><a th:href="@{/employees/delete/{id}(id=${employee.id})}">delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Add employee</h2>
      <h3 th:if = "${error}" th:text = "${error}"></h3>
      <div class = "container">
        <form th:action = "@{/employees}" method = "post" th:object = "${newEmployee}">
          <div class = "form-group">
            <label for = "employeeName">Name</label>
            <input type = "text" id = "employeeName" th:field = "*{name}">
          </div>
          <div class = "form-group">
            <label for = "employeePosition">Position</label>
            <input type = "text" id = "employeePosition" th:field = "*{position}">
          </div>
          <div class = "form-group">
            <label for = "employeeSalary">Salary</label>
            <input type = "number" id = "employeeSalary" th:field = "*{salary}">
          </div>
          <div class = "form-group">
            <label for = "employeeStartOfWork">Date of start work</label>
            <input type = "text" id = "employeeStartOfWork" th:field = "*{startOfWork}">
          </div>
          <input type = "submit" class = "btn btn-primary" value = "GO">
        </form>
      </div>

    </div>
  </body>
</html>